.pointer {
  cursor: pointer;
}

.hover {
  transition: all 0.2s ease-in-out;
}

.hover-bg-light:hover {
  background-color: rgba(225, 225, 225, 0.5);
}

.type-grass {
  background-color: green;
}

.type-poison {
  background-color: purple;
}

.type-fire {
  background-color: orange;
}

.type-water {
  background-color: aqua;
}

.type-bug {
  background-color: olivedrab;
}

.type-flying {
  background-color: cornflowerblue;
}

.type-normal {
  background-color: lightsteelblue;
}

.type-ice {
  background-color: silver;
}

.type-ground {
  background-color: burlywood;
}

.type-steel {
  background-color: slategrey;
}

.type-fightning {
  background-color: red;
}

.type-ghost {
  background-color: purple;
}

.type-fairy {
  background-color: pink;
}

.type-electric {
  background-color: yellow;
}

.type-dragon {
  background-color: royalblue;
}

.type-rock {
  background-color: brown;
}

.type-dark {
  background-color: black;
}

.type-psychic {
  background-color: fuchsia;
}
