<app-alert
  alertText="No se puede añadir un insulto vacio."
  alertType="danger"
  [alertShowing]="errorCrearInsultoVacio"
  (close)="errorCrearInsultoVacio = false"
>
</app-alert>
<app-alert
  alertText="Insulto añadido a 'Mis Insultos'."
  alertType="success"
  [alertShowing]="insultoAnadido"
  (close)="insultoAnadido = false"
>
</app-alert>
<div class="container">
  <div class="card">
    <div class="card-body">
      <label for="new-insult" class="form-label card-title"
        >Crear insulto</label
      >
      <input
        [formControl]="newInsult"
        type="text"
        class="form-control form-control my-1"
        id="new-insult"
        placeholder="Tu mamá es más densa que una estrella de neutrones"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="onCreateInsult()"
      >
        Crear
      </button>
    </div>
  </div>
</div>
